---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/layout/BaseHead.astro";
import Footer from "@/components/layout/BaseFooter.astro";
import Header from "@/components/layout/BaseHeader.astro";

interface Props {
  title: string;
  posts: CollectionEntry<"blog">[];
}

const { title, posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={`Posts in the category: ${title}`} />
    <style>
      .date-cell {
        width: 8rem; /* Fixed width for date column */
      }
    </style>
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main class="container mx-auto flex-1 px-4 py-8">
      <section class="mx-auto max-w-3xl">
        <h1 class="mb-8 text-4xl font-bold">Category: {title}</h1>
        <ul class="space-y-4">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.id}/`} class="group flex items-baseline">
                  <div class="date-cell text-sm text-gray-500">
                    {post.data.pubDate.toLocaleDateString("en-US", {
                      month: "short",
                      day: "2-digit",
                      year: "numeric",
                    })}
                  </div>
                  <h3 class="timeline-link-title">{post.data.title}</h3>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
