---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@/styles/global.css";
import type { ImageMetadata } from "astro";
import { SITE_TITLE } from "../consts";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
}

const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL("rss.xml", Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<script is:inline>
  // This script is placed in the head to prevent FOUC (Flash of Unstyled Content)
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  // window.localStorage.setItem("theme", theme);
</script>

<script is:inline>
  // This MutationObserver will guard the `dark` class on the `<html>` tag
  const observer = new MutationObserver(() => {
    const theme = localStorage.getItem("theme");
    if (theme === "dark") {
      if (!document.documentElement.classList.contains("dark")) {
        document.documentElement.classList.add("dark");
      }
    } else {
      if (document.documentElement.classList.contains("dark")) {
        document.documentElement.classList.remove("dark");
      }
    }
  });

  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["class"],
  });
</script>

<ClientRouter />

<!-- Font preloads -->
<link
  rel="preload"
  href="/fonts/atkinson-regular.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/atkinson-bold.woff"
  as="font"
  type="font/woff"
  crossorigin
/>

<!-- LXGW WenKai Font -->
<link
  rel="preload"
  as="style"
  crossorigin
  href="https://fontsapi.zeoseven.com/292/main/result.css"
  onload="this.rel='stylesheet'"
  onerror="this.href='https://fontsapi-storage.zeoseven.com/292/main/result.css'"
/>
<noscript>
  <link
    rel="stylesheet"
    href="https://fontsapi.zeoseven.com/292/main/result.css"
  />
</noscript>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
