---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import TableOfContents from "../components/TableOfContents.astro";

type Props = CollectionEntry<"blog">["data"] & {
  id: string;
  headings: { depth: number; text: string; slug: string }[];
};

const { id, title, description, pubDate, updatedDate, heroImage, headings } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .prose .astro-code {
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
      }
    </style>
  </head>

  <body class="flex min-h-screen flex-col">
    <Header />
    <main class="container mx-auto flex-1 px-4 py-8">
      <div class="grid grid-cols-12 gap-x-8">
        <aside class="hidden lg:block lg:col-span-3">
          {headings && headings.length > 0 && (
            <div class="sticky top-20">
              <TableOfContents headings={headings} />
            </div>
          )}
        </aside>

        <div class="col-span-12 lg:col-span-6">
          <article class="prose">
            <Breadcrumb id={id} title={title} />
            <h1>{title}</h1>
            <div class="mb-4 text-sm text-gray-500">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <span class="ml-2">
                    (Last updated on <FormattedDate date={updatedDate} />)
                  </span>
                )
              }
            </div>
            <div class="-mx-4 mb-8 md:-mx-8">
              {
                heroImage && (
                  <Image
                    src={heroImage}
                    alt={`Hero image for ${title}`}
                    width={1020}
                    height={510}
                    class="w-full rounded-lg"
                  />
                )
              }
            </div>
            <slot />
          </article>
        </div>

        <div class="hidden lg:block lg:col-span-3">
          <!-- This is an empty spacer column -->
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>